.home_img{
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0));
    z-index: -1;
    margin-bottom: -150px;
}
.home{
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
}
.home_row{
    display: flex;
    z-index:1 ;
    margin-left: 5px;
    margin-right: 5px;
}
@media(max-width:1024px){
    .home_img{
        margin-bottom: 20px;
    }
    .home_row{
        flex-direction: column;
        z-index:1 ;
        align-items: center;
    }
}