.product{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:10px;
    max-height: 400px;
    min-width: 100px;
    z-index: 1;
    justify-content: flex-end;
}
.product_info{
    width: 90%;
    margin-left: 15px;
    margin-right: 15px;
    margin-top:10px;
    margin-bottom: 15px;
    
}
.product img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-top:20px;
    margin-bottom: 15px;
}
.product button{
    background-color: #f0c14b;
    border:1px solid;
    width: 100%;
    height: 6%;
}